{% extends "patterns/base_page.html" %}

{% block title %}{% endblock %}

{% block opengraph %}
  {% include "molecules/opengraph/meta_tags_overview.html" with title="About" description="Welcome my fellow ducks! This project is an attempt to let readers of The Wandering Inn (TWI)  web serial explore interesting statistics of the many [Classes], [Skills], [Spells], characters, locations, etc. that show up throughout the story. I also hope this application will be useful for all the [Wiki Warriors] when searching TWI for references and identifying errors in the Wiki." %}
{% endblock opengraph %}

{% block main_content %}
<div class="flex flex-col gap-6 container mx-auto p-5 text-2xl">
    <h1 class="font-heading text-8xl font-bold">
      About
    </h1>
    <section class="flex flex-col gap-4 font-para overflow-y-auto">
      <h2 class="text-4xl font-subheading font-bold my-2">The Project</h2>
      <p>
        Welcome my fellow ducks! This project is an attempt to let readers of
        {% include "patterns/atoms/link/link.html" with text="The Wandering Inn (TWI)" href="https://wanderinginn.com/" external=True %}
        web serial explore interesting statistics of the many
        [Classes], [Skills], [Spells], characters, locations, etc. that show up throughout the story.
        I also hope this application will be useful for all the [Wiki Warriors]
        when searching TWI for references and identifying errors in the
        {% include "patterns/atoms/link/link.html" with text="Wiki" href="https://wiki.wanderinginn.com" external=True %}.
      </p>
      <p>
        If you notice any weird glitches, errors, or even want to request a feature, please consider submitting an
        {% include "patterns/atoms/link/link.html" with text="issue" href="https://github.com/cblanken/wandering-inn-stats/issues" external=True %}
      </p>
      <p>Thanks :)</p>
      <p>
        Please note that this application is <span class="underline">not</span> officially endorsed by pirateaba
        or The Wandering Inn. The copyright to all the text of The Wandering Inn and all TWI related references for this project belongs to the author, pirateaba.
        If you enjoy the web serial, I encourage you to support pirateaba by checking out the
        {% include "patterns/atoms/link/link.html" with text="Wandering Inn Official Store" href="https://store.wanderinginn.com" external=True %}
        or subscribing to their
        {% include "patterns/atoms/link/link.html" with text="Patreon" href="https://www.patreon.com/pirateaba" external=True %}
      </p>
    </section>
    <section class="flex flex-col gap-4 font-para">
      <h2 class="text-4xl font-subheading font-bold my-2">The Community</h2>
      <p>
        If you'd like to get more involved with the TWI community here are a few places to check out.
        <ul class="list-disc list-inside">
          <li>{% include "patterns/atoms/link/link.html" with text="TWI Wiki" href="https://wiki.wanderinginn.com" external=True %} for all your TWI lore needs. 🦆</li>
          <li>{% include "patterns/atoms/link/link.html" with text="TWI Booru" href="https://fanworks.wanderinginn.com" external=True %} for awesome TWI fanart.</li>
          <li>{% include "patterns/atoms/link/link.html" with text="TWI Discord" href="http://discord.gg/twi" external=True %}</li>
          <li>{% include "patterns/atoms/link/link.html" with text="TWI Community page" href="https://wanderinginn.com/community/" external=True %} for anything I've missed 🙃</li>
        </ul>
      </p>
    </section>
  </div>
{% endblock main_content %}
