{% extends "patterns/base_page.html" %}
{% block title %}About{% endblock %}
{% block main_content %}
<div class="flex flex-col gap-8 font-para container mx-auto p-4 text-2xl">
    <div class="font-heading text-8xl">
      About
    </div>
    <p>
      Welcome my fellow ducks! This project is an attempt to allow readers of
      {% include "patterns/atoms/link/link.html" with text="The Wandering Inn" href="https://wanderinginn.com/" external=True %}
      web serial to explore interesting statistics regarding the many
      <strong>[Classes]</strong>, <strong>[Skills]</strong>, <strong>[Spells]</strong>,
      characters, locations, etc. that pop up throughout the story.
      I also hope this application will serve as a useful tool for all the [Wiki Warriors]
      when searching TWI for references and identifying errors in the
      {% include "patterns/atoms/link/link.html" with text="Wiki" href="https://twiki.shelter.moe" external=True %}.
    </p>
    <p>
      If you notice any errors, glitches, or would like to request additional features, please consider submitting an
      {% include "patterns/atoms/link/link.html" with text="issue" href="https://github.com/cblanken/wandering-inn-stats/issues" external=True %}.
      Thanks :)
    </p>
    <p>
      Please note that this application is <span class="underline">not</span> officially endorsed by pirateaba
      or The Wandering Inn. If you enjoy the web serial, I encourage you to support pirateaba by checking out the
      {% include "patterns/atoms/link/link.html" with text="official store" href="https://www.store.wanderinginn.com" external=True %} of The Wandering Inn
      or subscribing to pirateaba's
      {% include "patterns/atoms/link/link.html" with text="Patreon" href="https://www.patreon.com/pirateaba" external=True %}
      .
    </p>
  </div>
{% endblock %}
