{% extends "patterns/base_page.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block opengraph %}
  {% include "molecules/opengraph/meta_tags_chapter.html" with title=title %}
{% endblock opengraph %}

{% block main_content %}
  <a class="font-bold font-mono hover:brightness-125 text-hl-tertiary w-fit" href="{{ back_url|default:'..' }}"><svg class="feather inline mr-2"><use href="{% static 'icons/feather-sprite.svg#arrow-left' %}" /></svg>Return to main page</a>
  <section class="">
    <h1 class="font-heading font-bold text-5xl/[4rem] text-nowrap">
      {{ heading }}<span>{{ link|safe }}</span>
    </h1>
    <section class="flex gap-4 text-text-secondary font-subheading">
      <div>Word count: <span class="font-bold">{{ word_count }}</span></div>
      <div>Released on: <span class="font-bold">{{ post_date }}</span></div>
      <div>Last edited: <span class="font-bold">{{ last_update }}</span></div>
      <div>Book: <span class="font-bold">{{ book_title }}</span></div>
    </section>
  </section>

  {% if stats %}
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% endif %}

  {% if gallery %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  {% endif %}

  {% if table %}
  <section class="mt-2">
    <h2 class="text-5xl font-heading font-bold w-full">Mentions</h2>
    <div class="mt-4 w-3/4 min-w-[800px] max-w-[1400px]">
    {% if table %}
      {% include "tables/htmx_table.html" %}
    {% endif %}
    </div>
  </section>
  {% endif %}
{% endblock main_content %}
