{% extends "patterns/base_page.html" %}

{% block title %}{{ title }}{% endblock %}

{% block opengraph %}
  {% include "molecules/opengraph/meta_tags_chapter.html" with title=title %}
{% endblock opengraph %}

{% block main_content %}
  <a class="font-bold font-mono hover:brightness-125 text-hl-tertiary w-fit" href="{{ back_url|default:'..' }}"><i class="inline mr-2" data-feather="arrow-left"></i>Return to main page</a>
  <section class="flex flex-row justify-between">
    <h1 class="font-heading font-bold text-5xl/[4rem] text-nowrap">
      {{ heading }}<span>{{ link|safe }}</span>
    </h1>
  </section>

  {% if stats %}
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% endif %}

  {% if gallery %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  {% endif %}

  {% if table %}
  <section class="mt-2">
    <h2 class="text-5xl font-heading font-bold w-full">Mentions</h2>
    <div class="mt-4 w-3/4 min-w-[800px] max-w-[1400px]">
    {% if table %}
      {% include "tables/htmx_table.html" %}
    {% endif %}
    </div>
  </section>
  {% endif %}
{% endblock main_content %}
