{% extends "patterns/base_page.html" %}
{% block title %}[Classes]{% endblock %}
{% block main_content %}
<section class="flex flex-col mx-4">
    {% block charts %}{% endblock %}
    <section class="w-full my-4 self-center">
    {% for title, plot in plots.items %}
      {% autoescape off %}
        <div class="min-h-fit mb-5 border-hl-tertiary border-4 rounded-xl overflow-hidden">
          {{ plot }}
        </div>
      {% endautoescape %}
    {% endfor %}
    </section>
</section>
{% endblock %}