{% extends "patterns/base_page.html" %}
{% load static %}

{% block main_content %}
<div class="bg-plotly-bg relative h-full overflow-hidden">
  <a class="absolute font-bold font-mono hover:brightness-125 left-2 top-2 z-10 text-hl-tertiary" href="{{ back_url|default:'..' }}"><svg class="feather inline mr-2"><use href="{% static 'icons/feather-sprite.svg#arrow-left' %}" /></svg>Return to main page</a>
  {% if has_chapter_filter %}
  {% include "patterns/molecules/chapter_filter_form.html" %}
  {% endif %}

  {% if chart %}
  <div class="interactive-chart animate-pop-in-fast motion-reduce:animate-fade-in-fast">
    {{ chart|safe }}
  </div>
  {% elif chart_path %}
  <div class="interactive-chart animate-pop-in-fast motion-reduce:animate-fade-in-fast">
    {% include chart_path %}
  </div>
  {% else %}
  <div class="flex h-full justify-center pt-32 pl-4 bg-bg-primary">
    <h1 class="font-mono text-warn text-7xl">NO DATA</h1>
  </div>
  {% endif %}
</div>

{% endblock main_content %}
