{% extends "patterns/base_page.html" %}
{% block main_content %}
<div class="bg-plotly-bg relative h-full">
  <a class="absolute font-bold font-mono hover:brightness-125 left-2 top-2 z-10 text-hl-tertiary" href="{{back_url|default:'..'}}"><i class="inline mr-2" data-feather="arrow-left"></i>Return to main page</a>
  <div class="absolute flex gap-4 justify-center items-center h-full w-full">
    <div class="text-info text-5xl">Loading...</div>
    <i class="text-hl-primary animate-spin-slow h-8 w-8" data-feather="pie-chart"></i>
  </div>
  <script>
    // Force feather icon loading instead of waiting for plotly chart to render
    feather.replace()
  </script>
  <div class="interactive-chart p-4">
    {{ chart|safe }}
  </div>
</div>

{% endblock %}
