{% extends "patterns/base_page.html" %}

{% block main_content %}
<div class="bg-plotly-bg relative h-full">
  <a class="absolute font-bold font-mono hover:brightness-125 left-2 top-2 z-10 text-hl-tertiary" href="{{ back_url|default:'..' }}"><i class="inline mr-2" data-feather="arrow-left"></i>Return to main page</a>
  {% if has_chapter_filter %}
  {% include "patterns/molecules/chapter_filter_form.html" %}
  {% endif %}

  {% if chart %}
  <div class="interactive-chart">
    {{ chart|safe }}
  </div>
  {% else %}
  <div class="flex justify-center pt-32 pl-4 bg-bg-primary">
    <h1 class="font-mono text-warn text-7xl">NO DATA</h1>
  </div>
  {% endif %}
</div>

{% endblock main_content %}
