<div id="loading-screen-main" class="hidden text-hl-primary w-full h-full absolute left-0 top-0 z-[100] overflow-hidden">
  <div class="bg-bg-primary h-screen flex flex-col gap-6 justify-center items-center">
    <div class="text-8xl font-bold uppercase">Loading</div>
    <div>
      <i class="animate-spin-slow h-28 w-28" data-feather="pie-chart"></i>
    </div>
  </div>
</div>

<script>
  let main_content = document.querySelector("#main-content");
  let loading_screen = document.getElementById("loading-screen-main");

  window.addEventListener("pageshow", e => {
    loading_screen.classList.add("hidden");
    main_content.classList.remove("hidden");
  })

  function show_loading_screen() {
    loading_screen.classList.remove("hidden");
    main_content.classList.add("hidden");
  }
</script>
