<div id="loading-screen-main" class="invisible w-full h-full bg-bg-primary z-[100] flex gap-4 justify-center items-center">
  <div class="text-6xl">Loading...</div>
  <i class="text-hl-primary animate-spin-slow h-12 w-12" data-feather="pie-chart"></i>
</div>

<script>
  function load_chart(url) {
    let loading_screen = document.getElementById("loading-screen-main");
    let main_content = document.querySelector("main");

    // Show loading screen
    loading_screen.classList.remove("invisible");
    main_content.replaceChildren(loading_screen);
  }
</script>
