{% extends "patterns/base_page.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block opengraph %}
  {% include "molecules/opengraph/meta_tags_reftype.html" with title=title %}
{% endblock opengraph %}

{% block main_content %}
  <a class="font-bold font-mono hover:brightness-125 text-hl-tertiary w-fit" href="{{ back_url|default:'..' }}"><svg class="feather inline mr-2"><use href="{% static 'icons/feather-sprite.svg#arrow-left' %}" /></svg>Return to main page</a>
  <section class="flex flex-row flex-wrap justify-between">
    <div>
    <h1 class="font-heading font-bold text-5xl/tight">
      {{ wiki_link|safe }}
    </h1>
      {% if character %}
      <section class="flex gap-4 text-text-secondary font-subheading">
        <div>First appearance: <span class="font-bold">{% if character.first_chapter_appearance %}{% include "atoms/link/link.html" with href=character.first_chapter_appearance.source_url text=character.first_chapter_appearance.title external=True %}{% else %}[missing]{% endif %}</span></div>
        <div>Species: <span class="font-bold">{{ character.get_species_display }}</span></div>
        <div>Status: <span class="font-bold">{{ character.get_status_display }}</span></div>
      </section>
      {% endif %}
    </div>
    {% if aliases %}
      <div class="relative flex flex-row z-20 my-1 lg:ml-4">
        <ol class="flex flex-row flex-wrap gap-2 py-2 pr-2 overflow-auto font-bold align-base rounded-lg items-start">
          {% for alias in aliases %}
          <li class="px-2 py-1 bg-bg-tertiary rounded-md">{{ alias.name }}</li>
          {% endfor %}
        </ol>
        <svg class="feather peer text-info h-[1.5rem] w-[1.5rem] min-h-[1.5rem] min-w-[1.5rem] z-50 mt-3 mr-3"><use href="{% static 'icons/feather-sprite.svg#info' %}" /></svg>

        <div class="absolute right-0 w-full min-w-[350px] max-w-[600px] h-full invisible peer-hover:visible">
          <div class="min-w-full min-h-full p-4 pr-7 rounded-lg border-[3px] border-info top-0 right-0 transition ease-in-out delay-150 bg-bg-secondary text-lg text-text-primary">
            <p>Aliases for <span class="font-bold border-spacing-2 border-b-2">{{ title }}</span></p>
            <p>An alias is an alternative form of a reference. It can include legitimate aliases for characters, nicknames, plural variations, gendered versions of some [Classes], and even typos.</p>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  <section class="mt-6">
    <h2 class="text-5xl font-heading font-bold w-full">Mentions</h2>
    <div class="mt-4 max-w-[1400px]">
    {% if table %}
      {% include "tables/htmx_table.html" %}
    {% endif %}
    </div>
  </section>
{% endblock main_content %}
