{% extends "patterns/base_page.html" %}

{% block title %}{{ title }}{% endblock %}

{% block opengraph %}
  {% include "molecules/opengraph/meta_tags_reftype.html" with title=title %}
{% endblock opengraph %}

{% block main_content %}
  <a class="font-bold font-mono hover:brightness-125 text-hl-tertiary w-fit" href="{{ back_url|default:'..' }}"><i class="inline mr-2" data-feather="arrow-left"></i>Return to main page</a>
  <section class="flex flex-row flex-wrap justify-between">
    <h1 class="font-heading font-bold text-5xl/tight">
      {{ wiki_link|safe }}
    </h1>
    {% if aliases %}
      <div class="group relative flex flex-row z-20 ml-4 my-1">
        <ol class="flex flex-row flex-wrap gap-2 p-2 overflow-auto font-bold align-base rounded-lg items-start">
          {% for alias in aliases %}
          <li class="px-2 py-1 bg-bg-tertiary rounded-md">{{ alias.name }}</li>
          {% endfor %}
        </ol>
        <i data-feather="info" class="peer text-info h-[1.5rem] w-[1.5rem] min-h-[1.5rem] min-w-[1.5rem] z-50 mt-3 mr-3"></i>
        <div class="absolute right-0 w-full min-w-[350px] max-w-[600px] h-full invisible peer-hover:visible">
          <div class="min-w-full min-h-full p-4 pr-7 rounded-lg border-[3px] border-info top-0 right-0 transition ease-in-out delay-150 bg-bg-secondary text-lg text-text-primary">
            <p>Aliases for <span class="font-bold border-spacing-2 border-b-2">{{ title }}</span></p>
            <p>An alias is an alternative form of a reference. It can include legitimate aliases for characters, nicknames, plural variations, gendered versions of some [Classes], and even typos.</p>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  <section class="mt-6 w-full">
    <h2 class="text-5xl font-heading font-bold w-full">Mentions</h2>
    <div class="mt-4 w-full min-w-[800px] max-w-[1400px]">
    {% if table %}
      {% include "tables/htmx_table.html" %}
    {% endif %}
    </div>
  </section>
{% endblock main_content %}
