{% extends "patterns/base_page.html" %}
{% load render_table from django_tables2 %}
{% block title %}{{ title }}{% endblock %}
{% block opengraph %}
  {% include "molecules/opengraph/meta_tags.html" %}
{% endblock %}
{% block main_content %}
  <a class="font-bold font-mono hover:brightness-125 pl-2 pt-2 text-hl-tertiary" href="{{back_url|default:'..'}}"><i class="inline mr-2" data-feather="arrow-left"></i>Return to main page</a>
  <h1 class="font-heading font-bold ml-4 mt-4 text-5xl">{{ title }}</h1>
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  {% if table %}
    {% render_table table %}
  {% endif %}
{% endblock %}
