{% extends "patterns/base_page.html" %}
{% load render_table from django_tables2 %}
{% block title %}Search{% endblock %}
{% block header_content %}
<form class="p-2">
  <section class="flex items-center font-para text-lg w-full">
    {% include "patterns/molecules/search_bar/search_bar.html" %}
  </section>
  <section id="timeline" class="font-para text-xl mt-2">
    {% include "patterns/molecules/search_timeline/search_timeline.html" %}
  </section>
  {{ form.non_field_errors }}
</form>
{% endblock %}

{% block main_content %}
<section>
</section>
<section id="results-window" class="flex h-full">
  <section class="flex flex-col w-full p-2">
    <section class="flex h-full">
      <div class="w-full">
        <div class="border-bg-tertiary border-y-2 w-full flex justify-end">
          <a class="button font-para p-2 text-lg flex items-center gap-2" target="_blank" href="{{ request.build_absolute_uri }}&_export=csv">
            <span>Export table</span>
            <i data-feather="download">Export</i>
          </a>
        </div>
        {% if table %}
          {% render_table table %}
        {% endif %}
      </div>
    </section>
  </section>
</section>
{% endblock %}
