{% extends "patterns/base_page.html" %}
{% load render_table from django_tables2 %}
{% block title %}Search{% endblock %}

{% block main_content %}
<div class="relative">
  <form id="textref-search-form" class="overflow-hidden">
    <section class="flex items-center font-subheading text-lg w-full">
      {% include "patterns/molecules/search_bar/search_bar.html" %}
    </section>
    <section id="timeline" class="font-subheading text-xl mt-2 pb-2 border-bg-tertiary border-b-2">
      {% include "patterns/molecules/search_timeline/search_timeline.html" %}
    </section>
    {{ form.non_field_errors }}
  </form>
  <div id="header-fold-btn" class="hover:cursor-pointer absolute right-2 {% if request.GET.type %} bottom-2 {% else %} -bottom-2 {% endif %} text-xs"><i class="inline pointer-events-none" data-feather="chevron-up"></i><span class="uppercase pointer-events-none">Minimize search</span></div>
  {% if result_count %}
    <div class="absolute capitalize font-subheading font-bold text-info bottom-[-2.75rem] right-6 text-sm">Results: {{ result_count|default:"0" }}</div>
  {% endif %}
  {% if request.GET.type %}
    <div class="border-bg-tertiary border-b-2 w-full text-info flex justify-start mb-2">
      <a class="button font-para p-2 text-lg flex items-center gap-2" target="_blank" href="{{ request.get_full_path }}&_export=csv">
        <span class="font-subheading">Download table</span>
        <i data-feather="download">Download</i>
      </a>
    </div>
  {% endif %}
</div>
{% load static %}
<script src="{% static 'js/search.js' %}"></script>

<section id="results-window" class="flex flex-col grow overflow-hidden">
  {% if table %}
    {% render_table table %}
  {% endif %}
  {% if not request.GET.type %}
    <section class="font-para text-xl w-2/3 ml-2 overflow-auto flex flex-col gap-4">
      <div class="bg-warn text-bg-secondary p-4 rounded-lg">
        <h2 class="flex items-center gap-2 text-3xl font-bold pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="alert-circle"></i>
          <div class="flex items-end">Table exports</div>
        </h2>
        <p class="font-para text-xl w-full">
          A quick warning! The current export function to save table results is somewhat slow.
          Especially on larger result sets. It's recommended to limit your results as much as possible with the various query
          parameters before attempting to export.
        </p>
      </div>
      <div class="bg-info text-bg-secondary p-4 rounded-lg">
        <h2 class="flex items-center gap-2 text-3xl font-bold pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="info"></i>
          <div class="flex items-end">How to Search</div>
        </h2>
        <ul role="list" class="list-disc box-decoration-clone pl-8">
          <li>Select a <em>type</em> of text reference to lookup from the first dropdown menu. They should be relatively self-explanatory.</li>
          <li>Provide a <em>type query</em> in the text field to the right of the drop down. This will filter the <em>type</em> of references returned.
            <ul class="pl-8 list-disc">
              <li>Queries are case-insensitive and allow any missing text to the left or right of the query. For example, a query with a <em>type</em> of &quot;Spell&quot; and a <em>type query</em> of &quot;fire&quot; would return results for any spells with &quot;fire&quot; in the name (with an uppercase or lowercase &quot;f&quot;).</li>
              <li>Type queries use the primary name given from the Wiki, so ensure you're searching that name and not an alias.</li>
            </ul>
          </li>
          <li>A search can be filtered further by providing a <em>text search query</em> which will filter the results based on the surrounding text.</li>
          <li>By default, all chapters are searched, but the chapter range can be limited by selecting the desired chapters by name in the <b>First Chapter</b> and <b>Last Chapter</b> dropdown menus.</li>
          <li>Click the <b>Search</b> button.</li>
        </ul>
      </div>
      <div>
        <h2 class="flex items-center gap-2 text-3xl pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="pen-tool"></i>
          <div class="flex items-end">Examples</div>
        </h2>
        <ul role="list" class="list-disc box-decoration-clone pl-8">
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Klbkch&text_query=Zevara&first_chapter=240&last_chapter=311&page_size=15">all references to Klbkch in volume 5 where "Zevara" is also mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=LO&type_query=Esthelm&text_query=goblin&page_size=15">all references to Esthelm where a "goblin" is mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Relc&text_query=puzzle&page_size=15">all references to Relc where a "puzzle" is mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Ryoka&text_query=&only_colored_refs=on&page_size=15">all references to Ryoka in colored/magical text</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search/?type=SP&type_query=Fire&text_query=&first_chapter=0&page_size=15&refs_by_chapter=on">references by chapter for all spells including "fire" in the name</a></li>

        </ul>
      </div>
    </section>
  {% endif %}
</section>
{% endblock %}
