{% extends "patterns/base_page.html" %}
{% load render_table from django_tables2 %}
{% block title %}Search{% endblock %}
{% block header_content %}
<div class="relative">
  <form id="textref-search-form" class="mt-2 mx-2 overflow-hidden">
    <section class="flex items-center font-subheading text-lg w-full">
      {% include "patterns/molecules/search_bar/search_bar.html" %}
    </section>
    <section id="timeline" class="font-subheading text-xl mt-2 pb-2 border-bg-tertiary border-b-2">
      {% include "patterns/molecules/search_timeline/search_timeline.html" %}
    </section>
    {{ form.non_field_errors }}
  </form>
  <div id="header-fold-btn" class="hover:cursor-pointer absolute right-6 bottom-[-2em] text-xs"><i class="inline pointer-events-none" data-feather="chevron-up"></i><span class="uppercase pointer-events-none">Minimize search</span></div>
  {% if result_count %}
    <div class="absolute capitalize font-subheading font-bold text-info bottom-[-2.75rem] right-6 text-sm">Results: {{ result_count|default:"0" }}</div>
  {% endif %}
</div>
{% load static %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}


{% block main_content %}
<section id="results-window" class="flex flex-col grow overflow-hidden">
  {% if request.GET.type %}
    <div class="border-bg-tertiary border-b-2 w-full text-info flex justify-start mb-2">
      <a class="button font-para p-2 text-lg flex items-center gap-2" target="_blank" href="{{ request.build_absolute_uri }}&_export=csv">
        <span class="font-subheading">Download table</span>
        <i data-feather="download">Download</i>
      </a>
    </div>
  {% endif %}
  {% if table %}
    {% render_table table %}
  {% endif %}
  {% if not request.GET.type %}
    <section class="font-para text-info text-xl w-full px-4 py-2 overflow-auto flex flex-col gap-5">
      <div class="text-warn">
        <h2 class="flex items-center gap-2 text-3xl pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="alert-circle"></i>
          <div class="flex items-end">Warning!</div>
        </h2>
        <p class="font-para text-xl w-full">
          A quick warning! The current export function to save table results is somewhat slow.
          Especially on larger result sets. It's recommended to limit your results as much as possible with the various query
          parameters before exporting.
        </p>
      </div>
      <div>
        <h2 class="flex items-center gap-2 text-3xl pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="info"></i>
          <div class="flex items-end">How to Search</div>
        </h2>
        <ul role="list" class="list-disc box-decoration-clone pl-8">
          <li>Select a <em>type</em> of text reference to lookup from the first dropdown menu. They should be relatively self-explanatory.</li>
          <li>Provide a <em>type query</em> in the text field to the right of the drop down. This will filter the <em>type</em> of references returned.
            <ul class="pl-8 list-disc">
              <li class="">Queries are case-insensitive and allow any missing text to the left or right of the query. For example, a query with a <em>type</em> of &quot;Spell&quot; and a <em>type query</em> of &quot;fire&quot; would return results for any spells with &quot;fire&quot; in the name (with an uppercase or lowercase &quot;f&quot;).</li>
              <li>Note that character references are based on their primary name given from the {% include "patterns/atoms/link/link.html" with size="4" text="Wiki" href="https://twiki.shelter.moe" external=True %}, so make sure you are searching by that name and not one of their aliases.</li>
            </ul>
          </li>
          <li>A search can be filtered further by providing a <em>text search query</em> which will filter the results based on the surrounding text of the references that are found.</li>
          <li>By default, all chapters are searched, but the chapter range can be limited by selecting the desired chapters by name in the <b>First Chapter</b> and <b>Last Chapter</b> dropdown menus.
          <li>Click the <b>Search</b> button.</li>
        </ul>
      </div>
      <div>
        <h2 class="flex items-center gap-2 text-3xl pb-2 font-subheading">
          <i class="w-7 h-7" data-feather="pen-tool"></i>
          <div class="flex items-end">Examples</div>
        </h2>
        <ul role="list" class="list-disc box-decoration-clone pl-8">
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Klbkch&text_query=Zevara&first_chapter=239&last_chapter=310">all references to Klbkch in volume 5 where "Zevara" is also mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=LO&type_query=Esthelm&text_query=goblin">all references to Esthelm where a "goblin" is mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Relc&text_query=puzzle">all references to Relc where a "puzzle" is mentioned</a></li>
          <li>Search for <a class="underline hover:brightness-125" target="_blank" href="/search?type=CH&type_query=Ryoka&text_query=&only_colored_refs=on">all references to Ryoka in colored/magical text</a></li>
        </ul>
      </div>
    </section>
  {% endif %}
</section>
{% endblock %}
