{% extends "patterns/base_page.html" %}
{% block title %}Skills{% endblock %}
{% block opengraph %}
  {% include "molecules/opengraph/meta_tags.html" with title="Skills" %}
{% endblock %}
{% block main_content %}
  <h1 class="font-heading font-bold text-5xl">Skills</h1>
  <section class="text-lg">Please note, that unless otherwise specified, these stats refer to [Skill] references and usage. Not when a [Skill] is granted or created by the [System]</section>
  {% include "patterns/molecules/headline_stat_group/headline_stat_group.html" with stats=stats %}
  {% include "patterns/molecules/chart_gallery/chart_gallery.html" with gallery=gallery %}
  {% if table %}
    <div class="w-1/2">
    {% include "tables/htmx_table.html" %}
    </div>
  {% endif %}
{% endblock %}
