# App config
TWI_KEY="<REPLACE_THIS_WITH_A_LONG_RANDOMLY_GENERATED_STRING>"
TWI_DB_USER=postgres
TWI_DB_PASS=password
TWI_DB_HOST=localhost
TWI_DB_PORT=5432
TWI_ANALYTICS_ID=
TWI_DEBUG=1
TWI_DISABLE_CACHE=1
TWI_PUBLIC_HOST="localhost:9999"
TWI_ADMIN_NAME="Admin"
TWI_ADMIN_EMAIL="admin@example.com"

# Wiki bot config
PYWIKIBOT_DIR="stats/wikibot"
PYWIKIBOT_BOT_NAME="WikiBot"
PYWIKIBOT_USER="<REPLACE_WITH_YOUR_OWN_WIKI_BOT_USERNAME>"
PYWIKIBOT_PASS="<REPLACE_WITH_YOUR_OWN_WIKI_BOT_PASSWORD>"
