<nav class="bg-bg-secondary sticky top-0 flex flex-col font-heading h-screen justify-between p-4  text-text-primary text-3xl">
    <ul class="flex flex-col gap-4 m-4 p-4 text-5xl uppercase">
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Overview" feather_icon="home" target_href="/" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Characters" feather_icon="users" target_href="/characters" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Classes" feather_icon="star" target_href="/classes" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Skills" feather_icon="award" target_href="/skills" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Magic" feather_icon="feather" target_href="/magic" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Search" feather_icon="search" target_href="/search" %}
    </ul>
    <ul class="bg-bg-tertiary flex flex-col gap-4 p-5 rounded-2xl text-hl-tertiary text-4xl capitalize">
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Code" feather_icon="github" target_href="https://github.com/cblanken/wandering-inn-stats" new_tab=True %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="About" feather_icon="info" target_href="/about" %}
        {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title="Settings" feather_icon="settings" target_href="/settings" %}
    </ul>
</nav>