<nav class="bg-slate-700 flex flex-col font-mono justify-between text-white text-3xl">
    <ul class="flex flex-col gap-4 m-4 p-4">
        {% for item in main_nav_items %}
            {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title=item.title feather_icon=item.icon %}
        {% endfor %}
    </ul>
    <ul class="bg-slate-900 flex flex-col gap-4 m-4 p-4 rounded-2xl">
        {% for item in footer_nav_items %}
            {% include "patterns/atoms/sidebar_nav/sidebar_nav_element.html" with title=item.title feather_icon=item.icon %}
        {% endfor %}
    </ul>
</nav>