<div class="p-5 h-full text-left relative bg-bg-tertiary rounded-lg">
  <div class="text-lg">{{stat.title|safe}}</div>
  {% if stat.value %}
    <div class="font-bold text-3xl text-hl-primary">
        {{stat.value|safe}}
        {% if stat.units %}
          <span class="pl-1">{{stat.units|safe}}</span>
        {% endif %}
    </div>
    {% if stat.caption %}
      <div class="text-hl-primary mt-1 flex gap-2 justify-start items-center">{{stat.caption|safe}}</div>
    {% endif %}
  {% endif %}
</div>
