{% load innverse_extras static %}
<a href="{{ target_href|default:"/" }}" rel="noopener noreferrer" target="{{ new_tab|yesno:"_blank,," }}" class="hover:bg-bg-primary inline-flex items-center gap-4 active:text-hl-secondary px-2 py-2 rounded-xl {% if request.path|slice:"1:-1" == title|lower %}text-hl-secondary{% endif %} hover:text-hl-primary items-baseline justify-start inline tracking-wider">
    {% with svg_uri="icons/feather-sprite.svg#"|addstr:feather_icon %}
    <svg class="feather nav-icon">
      <use href="{% static svg_uri %}" />
    </svg>
    {% endwith %}
    <span class="nav-title font-bold leading-3 py-4">{{ title }}</span>
</a>
