<section class="relative">
  <section class="flex gap-1">
    {% for title in plot_group.plots.keys %}
    <!-- <a class="tab grow" href="{{ request.path }}?{{ plot_group.selected_param }}={{ forloop.counter0 }}"> -->
      <div data-id="{{ forloop.counter0 }}" class="tab hover:cursor-pointer bg-bg-secondary border-solid border-t-2 border-x-2 border-hl-tertiary font-subheading px-4 py-1 rounded-t-md text-disabled {% if forloop.counter0 == plot_group.selected %}font-extrabold text-text-secondary{% endif %}">
        {{ title }}
      </div>
    <!-- </a> -->
    {% endfor %}
  </section>
  <section class="tab-content w-full self-center px-4 pb-1 pt-4 bg-bg-tertiary">
    {% for title, plot in plot_group.plots.items %}
      {% autoescape off %}
        <div data-id="{{ forloop.counter0 }}" class="mb-5 {% if forloop.counter0 != plot_group.selected %}hidden{% endif %}">
          {{ plot }}
        </div>
      {% endautoescape %}
    {% endfor %}
  </section>
</section>


<script>
  function display_tab(id) {
    let tabs_content = document.querySelectorAll('.tab-content div[data-id]');
    tabs_content.forEach((tab_content, i) => {
      if (parseInt(id) === i) {
        tab_content.classList.remove("hidden");
      } else {
        tab_content.classList.add("hidden");
      }
    });

    let tabs = document.querySelectorAll(".tab");
    tabs.forEach((tab, i) => {
      if (parseInt(id) === i) {
        tab.classList.add("font-extrabold", "text-text-secondary");
      } else {
        tab.classList.remove("font-extrabold", "text-text-secondary");
      }
    });
  }

  let tabs = document.querySelectorAll(".tab");
  tabs.forEach((tab) => {
    tab.addEventListener("click", (e) => {
      display_tab(e.target.getAttribute("data-id"));
    });
  });
</script>
