<section id="spoiler-popup" class="invisible absolute w-full h-full bg-bg-primary z-[100]">
    <div class="p-4 relative top-8 left-8 font-heading text-5xl text-text-tertiary w-1/2 h-1/2">
        <p class="my-6">BEWARE! YOU ENTER AT YOUR OWN PERIL!</p>
        <p>YOU MAY ENCOUNTER SPOILERS IF YOU ARE NOT UP TO DATE ON THE LATEST PUBLICLY RELEASED CHAPTER OF</p>
        <p class="underline font-bold">THE WANDERING INN</span></p>
        <p class="my-6">Do you wish to proceed?</p>
        <nav class="flex gap-8">
            <button id="spoiler-popup-yes" class="bg-bg-primary border-4 border-accept rounded-full font-para px-40 py-4 text-accept hover:brightness-125">YES</button>
            <button id="spoiler-popup-no" class="bg-bg-primary border-4 border-cancel rounded-full font-para px-40 py-4 text-cancel hover:brightness-125">NO</button>
        </nav>
    </div>
</section>
<script>
    let first_time_visitor = localStorage.getItem("first_time_visitor");
    function show_spoiler() {
        document.querySelector("#spoiler-popup").classList.remove("invisible");
    }

    function hide_spoiler() {
        document.querySelector("#spoiler-popup").classList.add("invisible");
    }

    if (first_time_visitor !== "false") {
        show_spoiler();
    }

    document.querySelector("#spoiler-popup-yes").addEventListener("click", (e) => {
        hide_spoiler();
        localStorage.setItem("first_time_visitor", false);
    });

    document.querySelector("#spoiler-popup-no").addEventListener("click", (e) => {
        location.href="https://wanderinginn.com";
    });

</script>
