@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply full height to interactive plotly charts */
.interactive-chart,
.interactive-chart > * {
  height: 100%;
}

/* Override base svg 'display: block' since it inteferes with the layout for plotly figure button */
.interactive-chart svg {
  display: inline ; /* 1 */
}

@layer components {
  .maximize {
    @apply fixed left-0 top-0 w-screen h-screen max-h-[calc(100vh-4rem)] z-50;
  }

  .maximize-figure {
    @apply border-0 rounded-none bg-plotly-bg !important;
  }

  .maximize-figure button {
    @apply right-8 bottom-4;
  }

  .maximize-figure button::before {
    @apply text-lg;
    content: "Minimize";
  }
}
