@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
@config "../../static_src/tailwind.config.js";

@theme {
      /* Fonts */
      --font-heading: 'Candara', 'Calibri', 'Corbel', 'sans';
      --font-subheading: 'Verdana', 'Tahoma', 'sans';
      --font-para: 'Verdana', 'Tahoma', 'sans';

      /* Colors */
      --color-bg-primary: #262b2cff;
      --color-bg-secondary: #313638ff;
      --color-bg-tertiary: #424647ff;
      --color-text-primary: #e8e9ebff;
      --color-text-secondary: #e0dfd5ff;
      --color-text-tertiary: #e6cea7ff;
      --color-text-disabled: #a68e77ff;
      --color-hl-primary: #ef6461ff;
      --color-hl-secondary: #ea8c62ff;
      --color-hl-tertiary: #e4b363ff;
      --color-hl-quaternary: #ade2b2;
      --color-accept: #38c17f;
      --color-cancel: #f4425f;
      --color-info: rgb(164 174 240);
      --color-info-inverted: rgb(66 89 237);
      --color-warn: #F7A71B;
      --color-plotly-bg: #111111;

      /* Animations / transitions */
      @keyframes flip180 {
          0% { transform: rotate(0) }
          100% { transform: rotate(-180deg) }
      }

      @keyframes spin {
          0%: { transform: rotate(0deg) }
          100%: { transform: rotate(360deg) }
      }

      @keyframes spin_reverse {
          0%: { transform: rotate(0deg) }
          100%: { transform: rotate(-360deg) }
      }

      @keyframes fade_in {
          0%: { opacity: 0 }
          100%: { opacity: 1 }
      }

      @keyframes fade_out {
          100%: { opacity: 0 }
      }

      --animate-flip-icon: flip180 0.25s linear forwards;
      --spin-slow: spin 2s linear infinite;
      --spin-slow-reverse: spin_reverse 2s linear infinite;
      --fade-in-slow: fade_in 2.5s forwards;
      --fade-in-fast: fade_in 1s forwards;
      --fade-out-slow: fade_out 2.5s forwards;
      --fade-out-fast: fade_out 1s forwards;
}

/* Apply full height to interactive plotly charts */
.interactive-chart,
.interactive-chart > * {
  height: 100%;
}

/* Override base svg 'display: block' since it inteferes with the layout for plotly figure button */
.interactive-chart svg {
  display: inline;
}

/* Custom styles */
.maximize {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  max-height: calc(100vh-4rem);
  z-index: 50;
}

.maximize-figure {
  @apply border-0 rounded-none bg-plotly-bg;
}

.maximize-figure button {
  @apply right-8 bottom-4;
}

.maximize-figure button::before {
  @apply text-lg;
  content: "Minimize";
}
