{% load cache static %}
{% cache 600 chart_chapter_filter form.first_chapter form.last_chapter %}
<div class="absolute top-1 left-1/2 right-1/2 z-50">
  <form method="GET" class="flex gap-2 justify-center mt-2">
    <div class="text-black border-2 border-bg-tertiary">
        {{ form.first_chapter.errors }}
        {{ form.first_chapter }}
    </div>
    <div class="text-black border-2 border-bg-tertiary">
        {{ form.last_chapter.errors }}
        {{ form.last_chapter }}
    </div>
    <div class="group relative hover:cursor-pointer flex items-center gap-2 input-wrapper justify-start px-4 text-xl hover:bg-bg-primary focus:bg-bg-primary hover:text-hl-primary focus:text-hl-primary">
        <svg id="show-all-rows-spinner" class="size-8  absolute left-2 pointer-events-none text-inherit stroke-2 stroke-text-secondary group-hover:cursor-pointer group-hover:stroke-hl-primary">
          <use href="{% static 'icons/feather-sprite.svg#filter' %}" />
        </svg>
        <input class="hover:cursor-pointer w-full pl-5 h-full" type="submit" value="Filter"/>
    </div>
  </form>
</div>
{% endcache %}
