<div class="bg-bg-primary grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 my-1">
  {% for stat in stats %}
    {% if stat %}
    <div class="flex-1 relative">
      {% include "patterns/atoms/headline_stat_block/headline_stat_block.html" %}
      {% if stat.popup_info %}
        <i data-feather="info" class="peer absolute right-2 top-2 hover:cursor-pointer text-info hover:z-50"></i>
        <div class="z-20 h-fit w-fit max-w-[600px] absolute p-5 rounded-lg border-2 border-info top-0 right-0 invisible peer-hover:visible transition ease-in-out delay-150 bg-bg-secondary text-lg text-text-primary">{{ stat.popup_info|safe }}</div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</div>
