<div class="bg-bg-primary flex flex-wrap gap-4 justify-center mx-6 mt-2">
  {% for stat in stats %}
    <div class="bg-bg-tertiary flex-1 rounded-lg relative ">
      {% include "patterns/atoms/headline_stat_block/headline_stat_block.html" %}
      {% if stat.popup_info %}
        <i data-feather="info" class="peer absolute right-2 top-2 hover:cursor-pointer text-info hover:z-50"></i>
        <div class="z-20 min-w-full min-h-full absolute p-5 rounded-lg border-2 border-info top-0 right-0 invisible peer-hover:visible transition ease-in-out delay-150 bg-bg-secondary text-lg text-text-primary">{{ stat.popup_info | safe }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
