<form method="get" class="flex grow border-2 border-bg-tertiary">
    <div class="flex-none">
        <label for="type" class="sr-only">Type</label>
        <select name="type" class="bg-bg-tertiary  border-none overflow-y-auto text-text-primary">
            <option {% if type == "CH" %} selected {% endif %} value="CH">Character</option>
            <option {% if type == "CL" %} selected {% endif %} value="CL">Class</option>
            <option {% if type == "CO" %} selected {% endif %} value="CO">Class obtained</option>
            <option {% if type == "IT" %} selected {% endif %} value="IT">Item</option>
            <option {% if type == "LO" %} selected {% endif %} value="LO">Location</option>
            <option {% if type == "SK" %} selected {% endif %} value="SK">Skill</option>
            <option {% if type == "SO" %} selected {% endif %} value="SO">Skill obtained</option>
            <option {% if type == "SP" %} selected {% endif %} value="SP">Spell</option>
            <option {% if type == "SB" %} selected {% endif %} value="SB">Spell obtained</option>
        </select>
    </div>
    <div class="basis-1/4 w-full">
        <label for="type_query" class="sr-only">Type</label>
        <input name="type_query" type="search" placeholder="Type query (e.g. Erin, Mage, Fireball)" spellcheck="false" value="{{ type_query }}" class="bg-bg-secondary border-l-0 border-t-0 border-b-0 grow indent-1 h-10 leading-4 w-full">
    </div>

    <div class="basis-1/2 grow w-full">
        <label for="text_query" class="sr-only">Query</label>
        <input name="text_query" type="search" placeholder="Text search query" spellcheck="false" value="{{ text_query }}" class="bg-bg-secondary border-none grow indent-1 h-10 leading-4 w-full">
    </div>

    <div class="hover:cursor-pointer flex items-center gap-2 input-wrapper justify-start px-4">
        <i class="hover:cursor-pointer" data-feather="search"></i>
        <input class="hover:cursor-pointer" type="submit" value="Search"> </input>
    </div>
</form>
