{% load static tailwind_tags %}
<html class="text-gray-800 font-serif">
<head>
  <title>Plotly</title>

  <!-- Tailwind -->
  {% tailwind_css %}

  <!-- Plotly CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
  <main class="container mx-auto">
    <a class="float-left text-indigo-800 font-mono" href="/stats/charts">← Index</a>
    <h1 class="text-center text-6xl my-5">{{ page_title }}</h1>
    <div class="">
    {% for title, plot in plots.items %}
      <hr class="my-5">
      {% autoescape off %}
        <div class="min-h-fit">
          {{ plot }}
        </div>
      {% endautoescape %}
    </div>
    {% endfor %}
  </main>
</body>
</html>
