<div class="m-auto grid lg:grid-cols-2 md:cols-1 gap-x-4 gap-y-8 md:m-2 lg:m-6 max-w-[4000px]">
  {% for item in gallery %}
    <div class="gallery-item-container">
      <figure class="relative bg-bg-tertiary rounded-lg">
        <h2 class="absolute left-4 top-2 whitespace-nowrap sm:text-base lg:text-lg font-subheading font-bold uppercase z-10">{{item.title}}</h2>
        <img alt="{{item.title}}" class="max-h-[calc(100vh-2.75rem)] w-full rounded-t-lg" src="{{item.static_url}}"/>
        <button class="absolute bottom-2 right-2 inline hover:scale-150 text-info">
          <i class="inline pointer-events-none h-6 w-6 text-info z-50" data-feather="maximize"></i>
        </button>
        <figcaption class="p-2 text-lg text-center">
          {{item.caption}} See the <a class="interactive-chart-link border-b-2 border-info p-1 hover:bg-bg-primary text-info" href="{{ request.get_full_path }}charts/{{item.title_slug}}">interactive chart</a>
        </figcaption>
        {% if item.popup_info %}
          <i data-feather="info" class="peer absolute right-2 top-2 hover:cursor-pointer text-info hover:z-50"></i>
          <div class="z-20 min-w-full min-h-full absolute p-5 rounded-lg border-2 border-info top-0 right-0 invisible peer-hover:visible transition ease-in-out delay-150 bg-bg-secondary text-lg text-text-primary">{{ item.popup_info }}</div>
        {% endif %}
      </figure>
    </div>
  {% endfor %}
</div>

<script>
  function replace_icon(ele, feather_name) {
    let icon = document.createElement("i");
    icon.setAttribute("data-feather", feather_name);
    ele.replaceChild(icon, ele.firstElementChild);
    feather.replace();
  }

  let items = document.querySelectorAll(".gallery-item-container button")
  items.forEach(i => i.addEventListener("click", e => {
    e.preventDefault();
    let fig = e.target.parentElement;

    if (fig.classList.contains("maximize-figure")) {
      fig.classList.remove("maximize-figure");

      let fig_container = fig.parentElement;
      fig_container.classList.remove("maximize")
      replace_icon(e.target.firstElementChild, "maximize");
    } else {
      fig.classList.add("maximize-figure");

      let fig_container = fig.parentElement;
      fig_container.classList.add("maximize")
      replace_icon(e.target.firstElementChild, "minimize");
    }
  }));

  let interactive_chart_links = document.querySelectorAll(".interactive-chart-link");
  interactive_chart_links.forEach(link => link.addEventListener("click", e => {
    load_chart(link.href)
  }));
</script>
