{% load static %}
<div class="grid grid-cols-1 lg:grid-cols-2 {% if gallery|length > 4 %}2xl:grid-cols-3{% elif gallery|length > 9 %}2xl:grid-cols-4{% endif %} gap-x-4 gap-y-8 max-w-[4000px]">
  {% for item in gallery %}
    <div class="gallery-item-container">
      <figure class="relative bg-bg-tertiary rounded-xl">
        <div class="bg-plotly-bg overflow-hidden rounded-t-xl after:content-['Not enough data']">
          <h2 class="absolute top-2 left-4 whitespace-nowrap sm:text-base lg:text-lg font-subheading font-bold uppercase z-10">{{ item.title }}</h2>
          <div class="absolute pointer-events-none flex justify-center items-center w-full h-full text-5xl text-cancel font-mono">
            <div class="hidden no-data-text animate-pop-in-fast">Not enough data</div>
          </div>
          <img alt="{{ item.title }}" loading="lazy" class="noscript:visible noscript:animate-pop-in-fast invisible max-h-[calc(100vh-2.75rem)] h-auto w-full aspect-[7/5] object-contain rounded-t-lg" src="{{ item.thumbnail_url }}" onerror="this.onerror=null; this.parentElement.querySelector('.no-data-text').classList.remove('hidden')" />
        </div>
        <button class="absolute bottom-2 right-2 inline hover:scale-125 transition-transform duration-75 text-info noscript:hidden">
          <svg class="feather inline pointer-events-none !size-6 z-50"><use href="{% static 'icons/feather-sprite.svg#maximize' %}" /></svg>
        </button>
        <figcaption class="p-2 text-lg text-center">
          {{ item.caption }} See the <a class="interactive-chart-link border-b-2 text-info border-info p-1 hover:bg-info hover:text-bg-primary" href="{{ request.path }}charts/{{ item.title_slug }}">interactive chart</a>
        </figcaption>
        {% if item.popup_info %}
          {% include "atoms/popup_info/popup_info.html" with popup_info=item.popup_info %}
        {% endif %}
      </figure>
    </div>
  {% endfor %}
</div>

<script>
  document.querySelectorAll(`.gallery-item-container img`).forEach((img) => {
    img.onload = function() {
      img.classList.add(`animate-pop-in-fast`);
      img.classList.add(`motion-reduce:animate-fade-in-fast`);
      img.classList.remove(`invisible`);
    }
  });

  function replace_icon(ele, feather_name) {
    let icon = document.createElement(`i`);
    icon.setAttribute(`data-feather`, feather_name);
    ele.replaceChild(icon, ele.firstElementChild);
    feather.replace();
  }

  let items = document.querySelectorAll(`.gallery-item-container button`)
  items.forEach(i => i.addEventListener(`click`, e => {
    e.preventDefault();
    let fig = e.target.parentElement;

    if (fig.classList.contains(`maximize-figure`)) {
      fig.classList.remove(`maximize-figure`);

      let fig_container = fig.parentElement;
      fig_container.classList.remove(`maximize-container`)
      replace_icon(e.target.firstElementChild, `maximize`);
    } else {
      fig.classList.add(`maximize-figure`);

      let fig_container = fig.parentElement;
      fig_container.classList.add(`maximize-container`)
      replace_icon(e.target.firstElementChild, `minimize`);
    }
  }));

  let interactive_chart_links = document.querySelectorAll(`.interactive-chart-link`);
  interactive_chart_links.forEach(link => link.addEventListener(`click`, e => {
    show_loading_screen()
  }));
</script>
