{% load static %}
{% if table %}
  {% if not request.htmx %}
  <div class="table-container group/loading">
    <div class="group/filter table-filter relative flex flex-row w-full mb-1 items-center text-2xl">
      <input autocomplete="off" spellcheck="false" id="query-input" name="q" placeholder="Filter" class="bg-bg-secondary h-[3rem] leading-1 grow focus:ring-0 focus:outline-none focus:border-hl-secondary border-2 focus:transition-colors font-mono"
        type="text"
        value="{{ request.GET.q }}"
        hx-get=""
        hx-trigger="keyup changed delay:500ms, keydown[key=='Enter']"
        hx-swap="innerHTML"
        hx-target="div.table-body-container"
        hx-boost="true"
        hx-push-url="false"
        hx-preserve="true"
      />
      <svg class="group-has-[.htmx-request]/filter:block hidden transition-opacity duration-100 feather spinner animate-spin-slow absolute right-4 pointer-events-none select-none h-full"><use href="{% static 'icons/feather-sprite.svg#loader' %}" /></svg>
    </div>
    {% endif %}
    {% load render_table from django_tables2 %}
    {% render_table table %}
  </div>
{% endif %}
