{% load django_tables2 %}
{% for row in table.paginated_rows %}
  {% block table.tbody.row %}
  <tr class="max-h-10 h-10" {{ row.attrs.as_html }}>
    {% for column, cell in row.items %}
    {% autoescape off %}
    <td class="border-2 border-bg-tertiary break-words text-center p-1 h-[20px] min-h-fit text-wrap" {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
    {% endautoescape %}
    {% endfor %}
  </tr>
  {% endblock table.tbody.row %}

  {% empty %}
    {% if table.empty_text %}
      {% block table.tbody.empty_text %}
      <tr class="h-[5rem] min-h-fit" {{ row.attrs.as_html }}>
        <td class="text-text-secondary text-2xl border-2 border-bg-tertiary break-words text-center p-1 text-wrap" colspan="{{ table.columns|length }}" {{ column.attrs.td.as_html }}>{{ table.empty_text|safe }}</td>
      </tr>
      {% endblock table.tbody.empty_text %}
    {% endif %}
{% endfor %}
