{% load django_tables2 i18n l10n static %}
<section class="pagination flex justify-between items-center">
    <div class="flex gap-4 my-2 px-4 py-1 font-mono">
    {% if table.page.has_previous or table.page.has_next %}
    {% block pagination.range %}
        {% for p in table.page|table_page_range:table.paginator %}
        <div class="page cursor-pointer {% if p == table.page.number %}active text-hl-primary underline underline-offset-8{% endif %}"
            hx-get="{% querystring table.prefixed_page_field=p %}"
            hx-trigger="click"
            hx-target="div.table-body-container"
            hx-swap="innerHTML"
            hx-history="false"
            hx-push-url="false"
            hx-boost="true"
            hx-indicator="div.page"
        >
            {% if p == '...' %}
            <span>{{ p }}</span>
            {% else %}
            <span class="hover:underline underline-offset-8">{{ p }}</span>
            {% endif %}
            </div>
        {% endfor %}
    {% endblock pagination.range %}
    {% endif %}
    </div>
    <div class="flex justify-end gap-4 font-mono">
    {% block pagination.previous %}
        {% if table.page.has_previous %}
        <button class="previous w-[8rem] flex justify-end"
                hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
                hx-trigger="click"
                hx-target="div.table-body-container"
                hx-history="false"
                hx-push-url="true"
                hx-boost="true"
                hx-swap="innerHTML">
            <div class="flex flex-nowrap items-center gap-2 hover:font-extrabold hover:underline underline-offset-4">
                <svg class="feather previous-arrow size-4"><use href="{% static 'icons/feather-sprite.svg#arrow-left' %}" /></svg>
                <svg class="feather spinner hidden size-4 animate-spin-slow-reverse pointer-events-none select-none"><use href="{% static 'icons/feather-sprite.svg#loader' %}" /></svg>
                <div class="flex items-center">{% translate 'Previous' %}</div>
            </div>
        </button>
        {% else %}
        <button class="previous w-[8rem] flex justify-end text-text-disabled">
            <div class="flex flex-nowrap items-center gap-2">
                <svg class="feather size-4 inline-block"><use href="{% static 'icons/feather-sprite.svg#arrow-left' %}" /></svg>
                {% translate 'Previous' %}
            </div>
        </button>
        {% endif %}
    {% endblock pagination.previous %}
    {% block pagination.next %}
        {% if table.page.has_next %}
        <button class="next w-[4rem]"
                hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                hx-trigger="click"
                hx-target="div.table-body-container"
                hx-history="false"
                hx-push-url="true"
                hx-boost="true"
                hx-swap="innerHTML">
            <div class="flex flex-nowrap items-center gap-2 hover:font-extrabold hover:underline underline-offset-4">
                <div class="flex items-center">{% translate 'Next' %}</div>
                <svg class="feather next-arrow size-4"><use href="{% static 'icons/feather-sprite.svg#arrow-right' %}" /></svg>
                <svg class="feather spinner hidden size-4 animate-spin-slow pointer-events-none select-none"><use href="{% static 'icons/feather-sprite.svg#loader' %}" /></svg>
            </div>
        </button>
        {% else %}
        <button class="next text-text-disabled">
            <div class="flex flex-nowrap items-center gap-2">
                {% translate 'Next' %}
                <svg class="feather size-4 inline-block"><use href="{% static 'icons/feather-sprite.svg#arrow-right' %}" /></svg>
            </div>
        </button>
        {% endif %}
    {% endblock pagination.next %}
    </div>
</section>
