{% comment %}
  This table template is based off django_tables2/table.html
  and provides styling via Tailwind classes
{% endcomment %}

{% load django_tables2 i18n l10n %}
{% block table-wrapper %}
<style>
  .previous.htmx-request .previous-arrow,
  .next.htmx-request .next-arrow {
    display: none;
  }

  .previous.htmx-request .spinner,
  .next.htmx-request .spinner {
    display: block;
    opacity: 1;
    transition: all 600ms ease-in;
  }
</style>
<div class="table-body-container w-full flex flex-col min-h-screen overflow-x-visible">
  {% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
    <section class="pagination flex justify-between items-center">
      <div class="flex gap-4 my-2 px-4 py-1 font-mono">
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.range %}
          {% for p in table.page|table_page_range:table.paginator %}
            <div class="page cursor-pointer {% if p == table.page.number %}active text-hl-primary underline underline-offset-8{% endif %}"
              hx-get="{% querystring table.prefixed_page_field=p %}"
              hx-trigger="click"
              hx-target="div.table-body-container"
              hx-swap="innerHTML"
              hx-history="false"
              hx-push-url="false"
              hx-boost="true"
              hx-indicator="div.page"
            >
              {% if p == '...' %}
                <span>{{ p }}</span>
              {% else %}
                <span class="hover:underline underline-offset-8">{{ p }}</span>
              {% endif %}
              </div>
          {% endfor %}
        {% endblock pagination.range %}
        {% endif %}
      </div>
      <div class="flex justify-end gap-4 font-mono">
        {% block pagination.previous %}
          {% if table.page.has_previous %}
            <button class="previous w-[8rem] flex justify-end"
                    hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
                    hx-trigger="click"
                    hx-target="div.table-body-container"
                    hx-history="false"
                    hx-push-url="true"
                    hx-boost="true"
                    hx-swap="innerHTML">
                <div class="flex flex-nowrap items-center gap-2 hover:font-extrabold hover:underline underline-offset-4">
                  <div class="">
                    <span class="previous-arrow"><i class="size-4" data-feather="arrow-left"></i></span>
                    <span class="spinner hidden"><i class="size-4 animate-spin-slow-reverse pointer-events-none select-none" data-feather="loader"></i></span>
                  </div>
                  <div class="flex items-center">{% translate 'Previous' %}</div>
                </div>
            </button>
          {% else %}
            <button disabled class="previous text-text-disabled">
              <div><i class="w-4 h-4 inline-block mr-2" data-feather="arrow-left"></i>{% translate 'Previous' %}
              </div>
            </button>
          {% endif %}
        {% endblock pagination.previous %}
        {% block pagination.next %}
          {% if table.page.has_next %}
            <button class="next w-[4rem]"
                    hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                    hx-trigger="click"
                    hx-target="div.table-body-container"
                    hx-history="false"
                    hx-push-url="true"
                    hx-boost="true"
                    hx-swap="innerHTML">
                <div class="flex flex-nowrap items-center gap-2 hover:font-extrabold hover:underline underline-offset-4">
                  <div class="flex items-center">{% translate 'Next' %}</div>
                  <div class="">
                    <span class="next-arrow"><i class="size-4" data-feather="arrow-right"></i></span>
                    <span class="spinner hidden"><i class="size-4 animate-spin-slow pointer-events-none select-none" data-feather="loader"></i></span>
                  </div>
                </div>
            </button>
          {% else %}
            <button disabled class="next text-text-disabled">
              <div>{% translate 'Next' %}<i class="w-4 h-4 inline-block ml-2" data-feather="arrow-right"></i></div>
            </button>
          {% endif %}
        {% endblock pagination.next %}
      </div>
    </section>
    {% endif %}
  {% endblock pagination %}
  {% block table %}
    <table class="border-collapse border-spacing-2">
    {% block table.thead %}
    {% if table.show_header and table.data %}
        <thead class="text-hl-tertiary text-xl bg-bg-secondary" {{ table.attrs.thead.as_html }}>
          <tr>
          {% for column in table.columns %}
            <th class="relative h-8 py-2 px-8 border-2 border-bg-tertiary font-mono" {{ column.attrs.th.as_html }}
              {% if column.orderable %}
                hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                hx-trigger="click"
                hx-target="div.table-body-container"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-boost="true"
                style="cursor: pointer;"
              {% endif %}
            >
            {{ column.header }}
            <span class="text-text-secondary">
            {% if column.orderable %}
              {% if "-" in column.order_by_alias %}
                <i class="absolute right-2 top-3 {% if column.is_ordered %}text-info{% endif %}" data-feather="chevron-up"></i>
              {% else %}
                <i class="absolute right-2 top-3 {% if column.is_ordered %}text-info{% endif %}" data-feather="chevron-down"></i>
              {% endif %}
            {% endif %}
            </span>
            </th>
          {% endfor %}
          </tr>
        </thead>
      {% endif %}
      {% endblock table.thead %}
      {% block table.tbody %}
        <tbody>
        {% include "tables/table_body_partial.html" %}
        </tbody>
      {% endblock table.tbody %}
      {% block table.tfoot %}
      {% if table.has_footer %}
      <tfoot {{ table.attrs.tfoot.as_html }}>
        <tr>
        {% for column in table.columns %}
          <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
        {% endfor %}
        </tr>
      </tfoot>
      {% endif %}
      {% endblock table.tfoot %}
    </table>
  {% endblock table %}
  {% if table.paginator and table.paginator.num_pages > 1 and query.GET.q != '' %}
  <style>
    .htmx-request {
      opacity: 1;
      transition: opacity 300ms ease-in;
    }

    .htmx-request .show-all-button-text {
      display: none;
    }
  </style>
  <button class="w-full p-2 bg-bg-tertiary border-2 border-x-bg-tertiary border-y-hl-tertiary font-mono hover:bg-hl-tertiary hover:font-bold hover:text-black text-xl"
    hx-get=""
    hx-include="[name='show_all_rows']"
    hx-params="*"
    hx-push-url="true"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="div.table-body-container"
    hx-indicator="#show-all-rows-spinner"
  >
    <span class="show-all-button-text">Show all rows</span>
    <i id="show-all-rows-spinner" class="spinner opacity-0 animate-spin-slow inline-block ml-3 pointer-events-none select-none h-full" data-feather="loader"></i>
    <input type="hidden" name="show_all_rows" value="1"/>
  </button>
  {% endif %}
</div>
{% endblock table-wrapper %}

<script>
  feather.replace();
</script>
