{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full overflow-hidden">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="The Wandering Inn Statistics project aims to let anyone explore interesting stats related to The Wandering Inn web serial.">
  <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
  <title>Innverse Stats | {% block title %}{% endblock %}</title>

  {% block opengraph %}{% endblock %}

  {% load static %}

  <!-- Feather Icons -->
  <script src="https://unpkg.com/feather-icons"></script>

  <!-- Tailwind CSS -->
  {% tailwind_css %}

  <!-- htmx JS -->
  <script src="{% static 'js/vendor/htmx/htmx-1.9.10.min.js' %}" defer></script>
  <script src="{% static 'js/vendor/htmx/debug.js' %}" defer></script>

  <!-- Umami analytics -->
  {% if TWI_PROD and ANALYTICS_ID %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ ANALYTICS_ID }}"></script>
  {% endif %}
</head>
<body class="flex min-h-screen max-w-screen h-full">
  {% block content %}
    {# pattern_library_rendered_pattern is where the pattern library will inject the rendered pattern. #}
    {{ pattern_library_rendered_pattern }}
  {% endblock %}
</body>
<script>feather.replace()</script>
</html>
