{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full overflow-hidden">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Innverse Stats | {% block title %}{% endblock %}</title>

  <!-- Feather Icons -->
  <script src="https://unpkg.com/feather-icons"></script>

  <!-- Tailwind CSS -->
  {% tailwind_css %}
</head>
<body class="flex min-h-screen max-w-screen h-full">
  {% include "patterns/modals/spoiler.html" %}
  {% block content %}
    {# pattern_library_rendered_pattern is where the pattern library will inject the rendered pattern. #}
    {{ pattern_library_rendered_pattern }}
  {% endblock %}
</body>
<script>feather.replace()</script>
</html>
