<a
  href='{{ href|default:"" }}'
  rel="noopener noreferrer"
  target=""
  class="flex items-center min-h-10 h-full {% if not fit %}w-full{% endif %} group"
>
  <span
    class="{% if fit %}w-fit{% else %}w-full{% endif %} h-full flex justify-center px-1 items-center py-1 align-baseline font-bold rounded-md text-hl-secondary group-hover:bg-hl-secondary group-hover:text-bg-secondary"
  >
    <div class="flex items-center cursor-pointer">
      {% if not no_icon %}
      <i
        class="min-w-5 min-h-5 w-5 h-5 inline-block mr-1"
        data-feather="bar-chart"
      ></i>
      {% endif %}
      <span>{{ text|safe }}</span>
    </div>
  </span>
</a>
