<a href='{{ href|default:"" }}' rel="noopener noreferrer" target="" class="h-full {% if not fit %} w-full {% endif %} inline-block group">
  <span class="
    {% if fit %}
    w-fit
    {% else %}
    w-full
    {% endif %}
    flex
    justify-center
    px-1
    h-full
    items-center
    py-1
    align-baseline
    font-bold
    rounded-md
    text-hl-secondary
    group-hover:bg-hl-secondary
    group-hover:text-bg-secondary
  ">
    <div class="flex items-center cursor-pointer">
      <i class="min-w-5 min-h-5 w-5 h-5 inline-block mr-1" data-feather="bar-chart"></i>
      <span>{{ text|safe }}</span>
    </div>
  </span>
</a>
